<?xml version="1.0" encoding="utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">${dbUrl}</property>
        <property name="hibernate.connection.username">${dbUsername}</property>
        <property name="hibernate.connection.password">${dbPassword}</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.default_schema">EVAD</property>
        <property name="show_sql">true</property>
        <mapping class="entities.Client" />
    </session-factory>
</hibernate-configuration>
